<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <title>TO-DO APP</title>

    <style>
        .contain {
            padding: 50px 0px;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
body{
  background-attachment: fixed;
}
    </style>

</head>
<body background="https://cdn.hipwallpaper.com/i/60/37/nli8Vo.jpg"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TO-DO APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Sign-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'show' %}">TO-DO-LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
      <span class="navbar-text">
       <b>" Have A GOOD Intensions & WORK Hard "</b>
    </span>
    </div>
  </nav>
  {% csrf_token %}
        <div class="contain">
          
            <h4 style="color: aliceblue;">Create A New TO-DO LIST </h4>
            <hr style="color: brown;">
  <div class="row">
        <form class="col s12" method="POST" action="{% url 'add' %}">
         {% csrf_token %}
       
          <div class="row">
            <div class="input-field col s12">
              <textarea style="color: antiquewhite;" id="textarea1" name="data" class="materialize-textarea"></textarea>
              <label for="textarea1">What is your to-do ? </label>
              
            </div>

            
          </div>
          <button class="waves-effect waves-light btn red darken-3"  type="submit">Add</button>
       
        </form>
      </div>
           
      <br><br>
      <a class="waves-effect waves-light btn green" href="{% url 'show' %}">Home</a>
      <br><br><br><br><br>
      </div>
</body>
</html>